<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savvasdalkitsis.gameframe.feature.ip" >
    <application>
        <activity
            android:name=".view.IpSetupActivity"
            android:label="@string/setup_ip_address"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="gameframe"
                    android:host="navigation"
                    android:pathPattern="/ip_setup"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
