<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.savvasdalkitsis.gameframe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".GameFrameApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="com.savvasdalkitsis.gameframe.feature.home.view.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name="com.savvasdalkitsis.gameframe.feature.ip.view.IpSetupActivity"
            android:label="@string/setup_ip_address"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".feature.gameframe.view.DeepLinkActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="gameframe"
                    android:host="power"/>
                <data
                    android:scheme="gameframe"
                    android:host="next"/>
                <data
                    android:scheme="gameframe"
                    android:host="menu"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.savvasdalkitsis.gameframe.feature.widget.view.PowerTileService"
            android:label="@string/game_frame_power"
            android:icon="@drawable/ic_block_power"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        
        <receiver
            android:name="com.savvasdalkitsis.gameframe.feature.widget.view.PowerWidgetProvider"
            android:label="@string/power">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/power_appwidget_info" />
        </receiver>

        <receiver
            android:name="com.savvasdalkitsis.gameframe.feature.widget.view.NextWidgetProvider"
            android:label="@string/next">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/next_appwidget_info" />
        </receiver>

        <receiver
            android:name="com.savvasdalkitsis.gameframe.feature.widget.view.MenuWidgetProvider"
            android:label="@string/menu">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/menu_appwidget_info" />
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.savvasdalkitsis.gameframe.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
